# 预测

In [1]:
import pandas as pd

In [7]:
df1.to_csv('df120210728.csv',encoding='gbk',index=None)

In [10]:
ranking=pd.read_csv('7.21/ranking.csv',encoding='gbk',header=None)
df1=pd.read_csv('df120210728.csv',encoding='gbk')
df1

,id,majorName,year,minScore,categoryID_id,collegeID_id,c1,c2,college_loc,provinceLoc,cityLoc,adcode,cityScore,c2code,majorScore,preRanking
0,0,计算机类,2020,622,2.0,10593,工学,计算机类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02,['0812'],80.000000,0
1,1,数学类,2020,621,2.0,10593,理学,数学类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02,['0701'],76.000000,0
2,2,机械类,2020,621,2.0,10593,工学,机械类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02,['0802'],73.000000,0
3,3,土木工程,2020,620,2.0,10593,工学,土木类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02,['0814'],80.000000,0
4,4,经济学类,2020,620,2.0,10593,经济学,经济学类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02,['0201'],75.798039,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335,5528704,野生动物与自然保护区管理（国家专项）,2020,611,2.0,10225,农学,自然保护与环境生态类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06,['0903'],81.000000,0
3336,5531969,计算机科学与技术(中外合作办学),2020,589,2.0,10225,工学,计算机类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06,['0812'],81.000000,0
3337,5535235,化学(中外合作办学),2020,577,2.0,10225,理学,化学类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06,['0703'],81.000000,0
3338,5538502,生物技术(中外合作办学),2020,575,2.0,10225,理学,生物科学类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06,['0710'],83.000000,0
3339,5541770,工程管理(中外合作办学),2020,547,2.0,10225,管理学,管理科学与工程类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06,['1201'],70.000000,0

In [22]:
df1.describe()['minScore']['min']

316.0

In [24]:
ur120

             0     1    2       3  4  5
30371   699117  2020  671      11  1  1
30372   700275  2020  670      13  1  1
30373   701434  2020  669      17  1  1
30374   702594  2020  668      18  1  1
30375   703755  2020  667      23  1  1
...        ...   ...  ...     ... .. ..
31337  2283840  2020  320  382059  2  1
31338  2285964  2020  319  382852  2  1
31339  2288089  2020  318  383618  2  1
31340  2290215  2020  317  384391  2  1
31341  2292342  2020  316  385137  2  1

[756 rows x 6 columns]

In [17]:
r1=ranking[ranking[5]==1]

In [18]:
r120=r1[r1[1]==2020]

In [23]:
ur120=r120[r120[2]>=df1.describe()['minScore']['min']]

In [27]:
ur1201=ur120[ur120[4]==1]
ur1202=ur120[ur120[4]==2]

In [28]:
s_r1=dict(zip(ur1201[2],ur1201[3]))
s_r2=dict(zip(ur1202[2],ur1202[3]))
s_r1

{671: 11,
 670: 13,
 669: 17,
 668: 18,
 667: 23,
 666: 28,
 665: 33,
 664: 34,
 663: 40,
 662: 46,
 661: 54,
 660: 59,
 659: 65,
 658: 75,
 657: 83,
 656: 92,
 655: 104,
 654: 116,
 653: 131,
 652: 147,
 651: 157,
 650: 175,
 649: 197,
 648: 212,
 647: 235,
 646: 259,
 645: 285,
 644: 316,
 643: 345,
 642: 370,
 641: 412,
 640: 449,
 639: 487,
 638: 528,
 637: 568,
 636: 625,
 635: 669,
 634: 719,
 633: 786,
 632: 840,
 631: 925,
 630: 989,
 629: 1077,
 628: 1146,
 627: 1221,
 626: 1298,
 625: 1401,
 624: 1479,
 623: 1563,
 622: 1657,
 621: 1757,
 620: 1856,
 619: 1981,
 618: 2080,
 617: 2213,
 616: 2360,
 615: 2509,
 614: 2635,
 613: 2756,
 612: 2903,
 611: 3072,
 610: 3216,
 609: 3375,
 608: 3546,
 607: 3712,
 606: 3880,
 605: 4047,
 604: 4240,
 603: 4444,
 602: 4631,
 601: 4835,
 600: 5041,
 599: 5253,
 598: 5502,
 597: 5757,
 596: 6006,
 595: 6277,
 594: 6558,
 593: 6823,
 592: 7135,
 591: 7416,
 590: 7699,
 589: 7989,
 588: 8305,
 587: 8623,
 586: 8914,
 585: 9226,
 584: 9521,
 583: 9896,
 582: 10223,
 581: 10573,
 580: 10935,
 579: 11327,
 578: 11728,
 577: 12113,
 576: 12523,
 575: 12939,
 574: 13354,
 573: 13776,
 572: 14212,
 571: 14622,
 570: 15089,
 569: 15522,
 568: 15995,
 567: 16461,
 566: 16955,
 565: 17463,
 564: 17959,
 563: 18448,
 562: 18922,
 561: 19417,
 560: 19958,
 559: 20516,
 558: 21036,
 557: 21554,
 556: 22087,
 555: 22667,
 554: 23278,
 553: 23819,
 552: 24442,
 551: 25030,
 550: 25620,
 549: 26203,
 548: 26807,
 547: 27436,
 546: 28075,
 545: 28679,
 544: 29350,
 543: 30010,
 542: 30668,
 541: 31333,
 540: 31965,
 539: 32593,
 538: 33302,
 537: 33976,
 536: 34661,
 535: 35387,
 534: 36096,
 533: 36818,
 532: 37527,
 531: 38285,
 530: 39072,
 529: 39782,
 528: 40496,
 527: 41219,
 526: 41943,
 525: 42716,
 524: 43484,
 523: 44287,
 522: 45097,
 521: 45874,
 520: 46713,
 519: 47502,
 518: 48340,
 517: 49174,
 516: 50004,
 515: 50859,
 514: 51662,
 513: 52560,
 512: 53447,
 511: 54267,
 510: 55140,
 509: 55983,
 508: 56870,
 507: 57786,
 506: 58638,
 505: 59518,
 504: 60432,
 503: 61327,
 502: 62281,
 501: 63123,
 500: 63994,
 499: 64955,
 498: 65884,
 497: 66799,
 496: 67788,
 495: 68747,
 494: 69685,
 493: 70609,
 492: 71597,
 491: 72538,
 490: 73446,
 489: 74425,
 488: 75350,
 487: 76341,
 486: 77287,
 485: 78230,
 484: 79205,
 483: 80203,
 482: 81118,
 481: 82115,
 480: 83122,
 479: 84136,
 478: 85132,
 477: 86190,
 476: 87172,
 475: 88087,
 474: 89051,
 473: 90033,
 472: 91034,
 471: 92059,
 470: 93080,
 469: 94118,
 468: 95112,
 467: 96094,
 466: 97100,
 465: 98090,
 464: 99115,
 463: 100093,
 462: 101122,
 461: 102138,
 460: 103143,
 459: 104203,
 458: 105191,
 457: 106214,
 456: 107245,
 455: 108265,
 454: 109277,
 453: 110292,
 452: 111286,
 451: 112345,
 450: 113304,
 449: 114288,
 448: 115258,
 447: 116267,
 446: 117304,
 445: 118360,
 444: 119398,
 443: 120435,
 442: 121493,
 441: 122516,
 440: 123509,
 439: 124531,
 438: 125508,
 437: 126529,
 436: 127544,
 435: 128552,
 434: 129575,
 433: 130604,
 432: 131624,
 431: 132665,
 430: 133668,
 429: 134657,
 428: 135737,
 427: 136727,
 426: 137768,
 425: 138749,
 424: 139755,
 423: 140776,
 422: 141785,
 421: 142768,
 420: 143812,
 419: 144844,
 418: 145887,
 417: 146967,
 416: 148017,
 415: 149065,
 414: 150098,
 413: 151112,
 412: 152087,
 411: 153134,
 410: 154177,
 409: 155199,
 408: 156295,
 407: 157407,
 406: 158441,
 405: 159470,
 404: 160534,
 403: 161586,
 402: 162622,
 401: 163644,
 400: 164715,
 399: 165734,
 398: 166825,
 397: 167851,
 396: 168905,
 395: 169981,
 394: 171006,
 393: 172081,
 392: 173096,
 391: 174167,
 390: 175268,
 389: 176296,
 388: 177416,
 387: 178550,
 386: 179603,
 385: 180620,
 384: 181734,
 383: 182820,
 382: 183875,
 381: 184983,
 380: 186060,
 379: 187124,
 378: 188254,
 377: 189307,
 376: 190385,
 375: 191483,
 374: 192561,
 373: 193652,
 372: 194763,
 371: 195875,
 370: 196985,
 369: 198119,
 368: 199197,
 367: 200314,
 366: 201339,
 365: 202429,
 364: 203575,
 363: 204711,
 362: 205841,
 361: 206979,
 360: 208082,
 359: 209168,
 358: 210263,
 357: 211372,
 356: 212486,
 355: 213600,
 354: 214701,
 353: 215813,
 352: 216939,
 351: 217993,
 350: 219081,
 349: 220158,
 348: 221223,
 347: 222243,
 346: 223277,
 345: 224343,
 344: 225358,
 343: 226396,
 342: 227482,
 341: 228530,
 340: 229594,
 339: 230666,
 338: 231723,
 337: 232767,
 336: 233823,
 335: 234890,
 334: 235911,
 333: 237013,
 332: 238075,
 331: 239163,
 330: 240200,
 329: 241241,
 328: 242283,
 327: 243353,
 326: 244367,
 325: 245461,
 324: 246571,
 323: 247603,
 322: 248680,
 321: 249700,
 320: 250775,
 319: 251853,
 318: 252901,
 317: 253934,
 316: 254952}

In [32]:
for i in range(df1.shape[0]):
    if df1.at[i,'categoryID_id']==1:
        if df1.at[i,'minScore']>max(ur1201[2]):
            df1.at[i,'preRanking']=min(ur1201[3])
        else:
            df1.at[i,'preRanking']=s_r1[df1.at[i,'minScore']]
    else:
        if df1.at[i,'minScore']>max(ur1202[2]):
            df1.at[i,'preRanking']=min(ur1202[3])
        else:
            df1.at[i,'preRanking']=s_r2[df1.at[i,'minScore']]
df1

,id,majorName,year,minScore,categoryID_id,collegeID_id,c1,c2,college_loc,provinceLoc,cityLoc,adcode,cityScore,c2code,majorScore,preRanking
0,0,计算机类,2020,622,2.0,10593,工学,计算机类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02,['0812'],80.000000,25751
1,1,数学类,2020,621,2.0,10593,理学,数学类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02,['0701'],76.000000,26493
2,2,机械类,2020,621,2.0,10593,工学,机械类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02,['0802'],73.000000,26493
3,3,土木工程,2020,620,2.0,10593,工学,土木类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02,['0814'],80.000000,27221
4,4,经济学类,2020,620,2.0,10593,经济学,经济学类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02,['0201'],75.798039,27221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335,5528704,野生动物与自然保护区管理（国家专项）,2020,611,2.0,10225,农学,自然保护与环境生态类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06,['0903'],81.000000,34290
3336,5531969,计算机科学与技术(中外合作办学),2020,589,2.0,10225,工学,计算机类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06,['0812'],81.000000,55355
3337,5535235,化学(中外合作办学),2020,577,2.0,10225,理学,化学类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06,['0703'],81.000000,68843
3338,5538502,生物技术(中外合作办学),2020,575,2.0,10225,理学,生物科学类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06,['0710'],83.000000,71135
3339,5541770,工程管理(中外合作办学),2020,547,2.0,10225,管理学,管理科学与工程类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06,['1201'],70.000000,106820

In [34]:
df1[df1['collegeID_id']==10001]

,id,majorName,year,minScore,categoryID_id,collegeID_id,c1,c2,college_loc,provinceLoc,cityLoc,adcode,cityScore,c2code,majorScore,preRanking
1642,1435030,工商管理类,2020,709,2.0,10001,管理学,工商管理类,北京市,北京市,北京市,110000,94.72,['1202'],93.000000,37
1643,1436602,理科试验班类,2020,708,2.0,10001,理学,NaN,北京市,北京市,北京市,110000,94.72,['0700'],91.416667,45
1644,1438175,数学类,2020,706,2.0,10001,理学,数学类,北京市,北京市,北京市,110000,94.72,['0701'],96.000000,65
1645,1439749,法学,2020,705,2.0,10001,法学,法学类,北京市,北京市,北京市,110000,94.72,['0301'],93.000000,79
1646,1441324,计算机类,2020,705,2.0,10001,工学,计算机类,北京市,北京市,北京市,110000,94.72,['0812'],96.000000,79
1647,1442900,物理学类,2020,704,2.0,10001,理学,物理学类,北京市,北京市,北京市,110000,94.72,['0702'],96.000000,87
1648,1444477,化学类,2020,704,2.0,10001,理学,化学类,北京市,北京市,北京市,110000,94.72,['0703'],96.000000,87
1649,1446055,工科试验班类,2020,703,2.0,10001,工学,NaN,北京市,北京市,北京市,110000,94.72,['0800'],90.555556,107
1650,1447634,经济学类,2020,703,2.0,10001,经济学,经济学类,北京市,北京市,北京市,110000,94.72,['0201'],93.000000,107
1651,1449214,电子信息类,2020,703,2.0,10001,工学,电子信息类,北京市,北京市,北京市,110000,94.72,"['0809', '0810']",89.500000,107
1652,1450795,人文科学试验班,2020,679,1.0,10001,"文学,哲学,历史学",NaN,北京市,北京市,北京市,110000,94.72,"['0500', '0100', '0600']",94.555556,11
1653,1452377,工商管理类,2020,674,1.0,10001,管理学,工商管理类,北京市,北京市,北京市,110000,94.72,['1202'],93.000000,11
1654,1453960,文科试验班类,2020,671,1.0,10001,"文学,法学,经济学,哲学",NaN,北京市,北京市,北京市,110000,94.72,"['0500', '0300', '0200', '0100']",94.416667,11
1655,1455544,经济学类,2020,670,1.0,10001,经济学,经济学类,北京市,北京市,北京市,110000,94.72,['0201'],93.000000,13
1656,1457129,城乡规划,2020,667,1.0,10001,工学,建筑类,北京市,北京市,北京市,110000,94.72,['0813'],91.683429,23
1657,1458715,法学,2020,666,1.0,10001,法学,法学类,北京市,北京市,北京市,110000,94.72,['0301'],93.000000,28
1658,1460302,公共管理类,2020,666,1.0,10001,管理学,公共管理类,北京市,北京市,北京市,110000,94.72,['1204'],93.000000,28
1659,1461890,中国语言文学类,2020,665,1.0,10001,文学,中国语言文学类,北京市,北京市,北京市,110000,94.72,['0501'],96.000000,33
1660,1463479,新闻传播学类,2020,665,1.0,10001,文学,新闻传播学类,北京市,北京市,北京市,110000,94.72,['0503'],86.000000,33
1661,1465069,国际政治（国政、外交学、国际政经）,2020,663,1.0,10001,法学,政治学类,北京市,北京市,北京市,110000,94.72,['0302'],96.000000,40

In [36]:
df1.to_csv('alldata1.0.csv',encoding='gbk',index=None)