# 数据整理

In [42]:
import pandas as pd
import cpca

In [160]:
csv_file = "major_last(2).csv"
c=['id','majorName','year','minScore','categoryID_id','collegeID_id','c1','c2','college_loca']
csv_data = pd.read_csv(csv_file)#names=c)
csv_data=csv_data.drop(columns=['Unnamed: 0','Unnamed: 0.1'])
csv_data#.columns=['id','stu_name','stu_class']

,id,majorName,year,minScore,categoryID_id,collegeID_id,c1,c2,college_loca
0,183679,波斯语,2020,623,1,10036,文学,外国语言文学类,北京市
1,183715,阿拉伯语,2020,624,1,10036,文学,外国语言文学类,北京市
2,183716,朝鲜语,2020,624,1,10036,文学,外国语言文学类,北京市
3,183753,中国语言文学类(汉语国际教育、汉语言文学),2020,625,1,10036,文学,中国语言文学类,北京市
4,183754,政治学类(国际政治、政治学与行政学),2020,625,1,10036,法学,政治学类,北京市
...,...,...,...,...,...,...,...,...,...
3291,5528704,野生动物与自然保护区管理（国家专项）,2020,611,2,10225,农学,自然保护与环境生态类,黑龙江省哈尔滨市
3292,5531969,计算机科学与技术(中外合作办学),2020,589,2,10225,工学,计算机类,黑龙江省哈尔滨市
3293,5535235,化学(中外合作办学),2020,577,2,10225,理学,化学类,黑龙江省哈尔滨市
3294,5538502,生物技术(中外合作办学),2020,575,2,10225,理学,生物科学类,黑龙江省哈尔滨市
3295,5541770,工程管理(中外合作办学),2020,547,2,10225,管理学,管理科学与工程类,黑龙江省哈尔滨市

In [161]:
df1=csv_data.rename(columns={'college_loca':'college_loc'})
df1

,id,majorName,year,minScore,categoryID_id,collegeID_id,c1,c2,college_loc
0,183679,波斯语,2020,623,1,10036,文学,外国语言文学类,北京市
1,183715,阿拉伯语,2020,624,1,10036,文学,外国语言文学类,北京市
2,183716,朝鲜语,2020,624,1,10036,文学,外国语言文学类,北京市
3,183753,中国语言文学类(汉语国际教育、汉语言文学),2020,625,1,10036,文学,中国语言文学类,北京市
4,183754,政治学类(国际政治、政治学与行政学),2020,625,1,10036,法学,政治学类,北京市
...,...,...,...,...,...,...,...,...,...
3291,5528704,野生动物与自然保护区管理（国家专项）,2020,611,2,10225,农学,自然保护与环境生态类,黑龙江省哈尔滨市
3292,5531969,计算机科学与技术(中外合作办学),2020,589,2,10225,工学,计算机类,黑龙江省哈尔滨市
3293,5535235,化学(中外合作办学),2020,577,2,10225,理学,化学类,黑龙江省哈尔滨市
3294,5538502,生物技术(中外合作办学),2020,575,2,10225,理学,生物科学类,黑龙江省哈尔滨市
3295,5541770,工程管理(中外合作办学),2020,547,2,10225,管理学,管理科学与工程类,黑龙江省哈尔滨市

In [166]:
df1.fillna(value='',inplace=True)

In [168]:
df1.loc[[3028,3077,3081],'c2']='戏剧与影视学类'
df1.loc[[3078,3082,3083],'c2']='美术学类'
df1.at[3227,'c2']='仪器类,电气类'

In [159]:
left=pd.read_csv('major_gxjn.csv')
left.drop(columns=['Unnamed: 0'],inplace=True)
left.rename(columns={'college_loca':'college_loc'},inplace=True)
left.loc[8,'categoryID_id']=2
left

,id,majorName,year,minScore,categoryID_id,collegeID_id,c1,c2,college_loc
0,0,计算机类,2020,622,2.0,10593,工学,计算机类,广西省南宁市
1,1,数学类,2020,621,2.0,10593,理学,数学类,广西省南宁市
2,2,机械类,2020,621,2.0,10593,工学,机械类,广西省南宁市
3,3,土木工程,2020,620,2.0,10593,工学,土木类,广西省南宁市
4,4,经济学类,2020,620,2.0,10593,经济学,经济学类,广西省南宁市
5,5,材料类,2020,619,2.0,10593,工学,材料类,广西省南宁市
6,6,工商管理类,2020,619,1.0,10593,管理学,工商管理类,广西省南宁市
7,7,化学工程与工艺,2020,618,2.0,10593,工学,化工与制药类,广西省南宁市
8,8,矿物资源工程,2020,618,2.0,10593,工学,矿业类,广西省南宁市
9,9,轻工类,2020,618,2.0,10593,工学,轻工类,广西省南宁市
10,10,建筑学,2020,618,2.0,10593,工学,建筑类,广西省南宁市
11,11,法学,2020,601,1.0,10593,法学,法学类,广西省南宁市
12,12,汉语言文学,2020,601,1.0,10593,文学,中国语言文学类,广西省南宁市
13,13,新闻传播学类,2020,601,1.0,10593,文学,新闻传播学类,广西省南宁市
14,14,哲学,2020,600,1.0,10593,哲学,哲学类,广西省南宁市
15,15,公共事业管理,2020,600,2.0,10593,管理学,公共管理类,广西省南宁市
16,16,外国语言文学类,2020,600,1.0,10593,文学,外国语言文学类,广西省南宁市
17,17,计算机科学与技术,2020,647,2.0,10559,工学,计算机类,广东省广州市
18,18,临床医学,2020,645,2.0,10559,医学,临床医学类,广东省广州市
19,19,会计学,2020,645,2.0,10559,管理学,工商管理类,广东省广州市
20,20,光电信息科学与工程,2020,644,2.0,10559,工学,电子信息类,广东省广州市
21,21,人工智能,2020,643,2.0,10559,工学,电子信息类,广东省广州市
22,22,物联网工程,2020,643,2.0,10559,工学,计算机类,广东省广州市
23,23,网络空间安全,2020,643,2.0,10559,工学,计算机类,广东省广州市
24,24,电气工程及其自动化,2020,642,2.0,10559,工学,电气类,广东省广州市
25,25,生物科学,2020,641,2.0,10559,理学,生物科学类,广东省广州市
26,26,生物医学工程,2020,641,2.0,10559,工学,生物医学工程类,广东省广州市
27,27,工业工程,2020,641,2.0,10559,管理学,工业工程类,广东省广州市
28,28,国际经济与贸易,2020,640,2.0,10559,经济学,经济与贸易类,广东省广州市
29,29,应用化学,2020,640,2.0,10559,理学,化学类,广东省广州市
30,30,法学,2020,639,1.0,10559,法学,法学类,广东省广州市
31,31,汉语国际教育,2020,638,1.0,10559,文学,中国语言文学类,广东省广州市
32,32,风景园林,2020,638,2.0,10559,工学,建筑类,广东省广州市
33,33,生物制药,2020,638,2.0,10559,工学,生物工程类,广东省广州市
34,34,财务管理,2020,638,1.0,10559,管理学,工商管理类,广东省广州市
35,35,商务英语,2020,637,2.0,10559,文学,外国语言文学类,广东省广州市
36,36,土木工程,2020,637,2.0,10559,工学,土木类,广东省广州市
37,37,药学,2020,630,2.0,10559,医学,药学类,广东省广州市
38,38,会计学,2020,620,2.0,10559,管理学,工商管理类,广东省广州市
39,39,法学,2020,618,1.0,10559,法学,法学类,广东省广州市
40,40,电子商务,2020,618,2.0,10559,管理学,电子商务类,广东省广州市
41,41,酒店管理,2020,617,1.0,10559,管理学,旅游管理类,广东省广州市
42,42,历史学,2020,614,1.0,10559,历史学,历史学类,广东省广州市
43,43,日语,2020,614,1.0,10559,文学,外国语言文学类,广东省广州市

In [169]:
frames = [left,df1]
df1 = pd.concat(frames)
df1.reset_index(drop=True,inplace=True)
df1

,id,majorName,year,minScore,categoryID_id,collegeID_id,c1,c2,college_loc
0,0,计算机类,2020,622,2.0,10593,工学,计算机类,广西省南宁市
1,1,数学类,2020,621,2.0,10593,理学,数学类,广西省南宁市
2,2,机械类,2020,621,2.0,10593,工学,机械类,广西省南宁市
3,3,土木工程,2020,620,2.0,10593,工学,土木类,广西省南宁市
4,4,经济学类,2020,620,2.0,10593,经济学,经济学类,广西省南宁市
...,...,...,...,...,...,...,...,...,...
3335,5528704,野生动物与自然保护区管理（国家专项）,2020,611,2.0,10225,农学,自然保护与环境生态类,黑龙江省哈尔滨市
3336,5531969,计算机科学与技术(中外合作办学),2020,589,2.0,10225,工学,计算机类,黑龙江省哈尔滨市
3337,5535235,化学(中外合作办学),2020,577,2.0,10225,理学,化学类,黑龙江省哈尔滨市
3338,5538502,生物技术(中外合作办学),2020,575,2.0,10225,理学,生物科学类,黑龙江省哈尔滨市
3339,5541770,工程管理(中外合作办学),2020,547,2.0,10225,管理学,管理科学与工程类,黑龙江省哈尔滨市

In [170]:
df_loc=cpca.transform(df1['college_loc'])
df_loc.drop(columns=['区','地址'],inplace=True)
for i in range(df_loc.shape[0]):
    if df_loc.loc[i,'市']==None:
        df_loc.loc[i,'市']=df_loc.loc[i,'省']
df_loc

            省     市  adcode
0     广西壮族自治区   南宁市  450100
1     广西壮族自治区   南宁市  450100
2     广西壮族自治区   南宁市  450100
3     广西壮族自治区   南宁市  450100
4     广西壮族自治区   南宁市  450100
...       ...   ...     ...
3335     黑龙江省  哈尔滨市  230100
3336     黑龙江省  哈尔滨市  230100
3337     黑龙江省  哈尔滨市  230100
3338     黑龙江省  哈尔滨市  230100
3339     黑龙江省  哈尔滨市  230100

[3340 rows x 3 columns]

In [171]:
df1['provinceLoc']=df_loc['省']
df1['cityLoc']=df_loc['市']
df1['adcode']=df_loc['adcode']
#df1.drop(columns=['college_loc'],inplace=True)

In [172]:
df1

,id,majorName,year,minScore,categoryID_id,collegeID_id,c1,c2,college_loc,provinceLoc,cityLoc,adcode
0,0,计算机类,2020,622,2.0,10593,工学,计算机类,广西省南宁市,广西壮族自治区,南宁市,450100
1,1,数学类,2020,621,2.0,10593,理学,数学类,广西省南宁市,广西壮族自治区,南宁市,450100
2,2,机械类,2020,621,2.0,10593,工学,机械类,广西省南宁市,广西壮族自治区,南宁市,450100
3,3,土木工程,2020,620,2.0,10593,工学,土木类,广西省南宁市,广西壮族自治区,南宁市,450100
4,4,经济学类,2020,620,2.0,10593,经济学,经济学类,广西省南宁市,广西壮族自治区,南宁市,450100
...,...,...,...,...,...,...,...,...,...,...,...,...
3335,5528704,野生动物与自然保护区管理（国家专项）,2020,611,2.0,10225,农学,自然保护与环境生态类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100
3336,5531969,计算机科学与技术(中外合作办学),2020,589,2.0,10225,工学,计算机类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100
3337,5535235,化学(中外合作办学),2020,577,2.0,10225,理学,化学类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100
3338,5538502,生物技术(中外合作办学),2020,575,2.0,10225,理学,生物科学类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100
3339,5541770,工程管理(中外合作办学),2020,547,2.0,10225,管理学,管理科学与工程类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100

In [173]:
df1.to_csv('major_loc.csv',encoding='gbk')

## 加入city评分

In [199]:
city=pd.read_csv('bestCity.csv',header=None)
city=city.append({0:34,1:'广西省南宁市',2:41.02},ignore_index=True)
city=city.append({0:35,1:'广东省广州市',2:80.36},ignore_index=True)
city.drop(index=2,inplace=True)
city.sort_values(by=2,ascending=False,inplace=True)
city.reset_index(inplace=True,drop=True)
city.drop(columns=[0],inplace=True)
city

                 1      2
0              北京市  94.72
1              上海市  90.31
2           广东省广州市  80.36
3           浙江省杭州市  77.27
4           江苏省南京市  76.91
5           陕西省西安市  75.40
6           江苏省苏州市  74.52
7           四川省成都市  72.23
8           湖北省武汉市  70.55
9           江苏省无锡市  67.40
10             重庆市  67.38
11          湖南省长沙市  66.93
12          山东省济南市  63.38
13          山东省青岛市  62.43
14          安徽省合肥市  60.81
15          福建省福州市  60.24
16          辽宁省大连市  55.11
17          辽宁省沈阳市  54.71
18          福建省厦门市  54.47
19          江苏省南通市  53.01
20          吉林省长春市  50.73
21          山西省太原市  49.98
22          江西省南昌市  49.40
23          福建省泉州市  45.93
24          贵州省贵阳市  45.92
25        黑龙江省哈尔滨市  45.06
26         新疆乌鲁木齐市  44.68
27          广西省南宁市  41.02
28          甘肃省兰州市  40.60
29        内蒙古呼和浩特市  39.02
30          广东省汕头市  22.00
31         河北省秦皇岛市  22.00
32          新疆石河子市  22.00
33  吉林省延边朝鲜族自治州延吉市  22.00

In [54]:
indexes=list(df1[df1['college_loc']=='北京市'].index)
df1.loc[indexes,'cityScore']#=94.72

0       94.72
1       94.72
2       94.72
3       94.72
4       94.72
        ...
2512    94.72
2513    94.72
2514    94.72
2515    94.72
2516    94.72
Name: cityScore, Length: 487, dtype: float64

In [200]:
df1['cityScore']=[0]*df1.shape[0]

for i in range(city.shape[0]):
    indexes=list(df1[df1['college_loc']==city[1][i]].index)
    df1.loc[indexes,'cityScore']=city[2][i]
    print(i,'finish!')

0 finish!
1 finish!
2 finish!
3 finish!
4 finish!
5 finish!
6 finish!
7 finish!
8 finish!
9 finish!
10 finish!
11 finish!
12 finish!
13 finish!
14 finish!
15 finish!
16 finish!
17 finish!
18 finish!
19 finish!
20 finish!
21 finish!
22 finish!
23 finish!
24 finish!
25 finish!
26 finish!
27 finish!
28 finish!
29 finish!
30 finish!
31 finish!
32 finish!
33 finish!

In [203]:
df1#.describe()

,id,majorName,year,minScore,categoryID_id,collegeID_id,c1,c2,college_loc,provinceLoc,cityLoc,adcode,cityScore
0,0,计算机类,2020,622,2.0,10593,工学,计算机类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02
1,1,数学类,2020,621,2.0,10593,理学,数学类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02
2,2,机械类,2020,621,2.0,10593,工学,机械类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02
3,3,土木工程,2020,620,2.0,10593,工学,土木类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02
4,4,经济学类,2020,620,2.0,10593,经济学,经济学类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335,5528704,野生动物与自然保护区管理（国家专项）,2020,611,2.0,10225,农学,自然保护与环境生态类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06
3336,5531969,计算机科学与技术(中外合作办学),2020,589,2.0,10225,工学,计算机类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06
3337,5535235,化学(中外合作办学),2020,577,2.0,10225,理学,化学类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06
3338,5538502,生物技术(中外合作办学),2020,575,2.0,10225,理学,生物科学类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06
3339,5541770,工程管理(中外合作办学),2020,547,2.0,10225,管理学,管理科学与工程类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06

In [75]:
df1[df1['c2']=='公安技术类']

,id,majorName,year,minScore,categoryID_id,collegeID_id,c1,c2,college_loc,provinceLoc,cityLoc,adcode,cityScore
2570,3434920,消防工程,2020,614,2,10291,工学,公安技术类,江苏省南京市,江苏省,南京市,320100,76.91

## 评估专业代码和c1c2转化

In [305]:
keyw[:3]

'通信工'

In [317]:
keyw='物流管理与工程类'
index=list(df1[df1['c2']==keyw].index)
#index=list(df1[df1['majorName'].str.contains(keyw)].index)
#df1[df1['majorName'].str.contains(keyw)]
df1[df1['c2']==keyw]

,id,majorName,year,minScore,categoryID_id,collegeID_id,c1,c2,college_loc,provinceLoc,cityLoc,adcode,cityScore,c2code
423,262352,物流管理与工程类,2020,639,2.0,10613,管理学,物流管理与工程类,四川省成都市,四川省,成都市,510100,72.23,[1206]
987,620210,物流管理,2020,605,2.0,11065,管理学,物流管理与工程类,山东省青岛市,山东省,青岛市,370200,62.43,[1206]
1113,743627,物流工程,2020,611,2.0,10488,管理学,物流管理与工程类,湖北省武汉市,湖北省,武汉市,420100,70.55,[1206]
1117,747805,物流管理,2020,590,1.0,10488,管理学,物流管理与工程类,湖北省武汉市,湖北省,武汉市,420100,70.55,[1206]
1204,842635,物流管理（中外合作办学）,2020,609,2.0,10651,管理学,物流管理与工程类,四川省成都市,四川省,成都市,510100,72.23,[1206]
1243,887602,物流工程,2020,623,2.0,10710,管理学,物流管理与工程类,陕西省西安市,陕西省,西安市,610100,75.40,[1206]
1248,893477,物流管理,2020,622,2.0,10710,管理学,物流管理与工程类,陕西省西安市,陕西省,西安市,610100,75.40,[1206]
1323,984602,物流管理,2020,619,1.0,10285,管理学,物流管理与工程类,江苏省苏州市,江苏省,苏州市,320500,74.52,[1206]
1519,1249300,物流工程,2020,621,2.0,10307,管理学,物流管理与工程类,江苏省南京市,江苏省,南京市,320100,76.91,[1206]
2162,2387410,物流管理,2020,595,2.0,10755,管理学,物流管理与工程类,新疆乌鲁木齐市,新疆维吾尔自治区,乌鲁木齐市,650100,44.68,[1206]
2235,2542754,物流管理,2020,595,2.0,10755,管理学,物流管理与工程类,新疆乌鲁木齐市,新疆维吾尔自治区,乌鲁木齐市,650100,44.68,[1206]
2635,3488554,物流管理,2020,613,2.0,10327,管理学,物流管理与工程类,江苏省南京市,江苏省,南京市,320100,76.91,[1206]
2736,3752669,物流管理,2020,609,2.0,10635,管理学,物流管理与工程类,重庆市,重庆市,重庆市,500000,67.38,[1206]
2755,3803494,物流管理,2020,600,1.0,10635,管理学,物流管理与工程类,重庆市,重庆市,重庆市,500000,67.38,[1206]
2810,3952654,物流管理,2020,602,2.0,10126,管理学,物流管理与工程类,内蒙古呼和浩特市,内蒙古自治区,呼和浩特市,150100,39.02,[1206]
2930,4288594,物流工程,2020,617,2.0,10151,管理学,物流管理与工程类,辽宁省大连市,辽宁省,大连市,210200,55.11,[1206]
2966,4392184,物流工程（高校专项计划）,2020,603,2.0,10151,管理学,物流管理与工程类,辽宁省大连市,辽宁省,大连市,210200,55.11,[1206]
2973,4412477,物流管理（高校专项计划）,2020,610,2.0,10151,管理学,物流管理与工程类,辽宁省大连市,辽宁省,大连市,210200,55.11,[1206]
2982,4438640,物流工程（国家专项计划）,2020,619,2.0,10151,管理学,物流管理与工程类,辽宁省大连市,辽宁省,大连市,210200,55.11,[1206]
3170,5003674,物流管理,2020,604,2.0,10184,管理学,物流管理与工程类,吉林省延边朝鲜族自治州延吉市,吉林省,延边朝鲜族自治州,222401,22.00,[1206]
3303,5424752,物流工程,2020,612,2.0,10225,管理学,物流管理与工程类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06,[1206]
3333,5522177,物流工程（国家专项）,2020,613,2.0,10225,管理学,物流管理与工程类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06,[1206]

In [294]:
index=[864,110,1331]

In [311]:
for i in index:
    df1.at[i,'c2code']=['0819','0820']

In [ ]:
96 93 90
86 83 80
76 73 70
对0601进行
特别处理
                                                        0601 考古学
                0713 生态学
                                    0806 冶金工程
                    电子信息类：0809 0810平均
            电子科学和通信工程为特殊

            08195：矿业类 0819 0820平均

生物工程 0838
公安技术类 0839

1009,1010
'法医学类','医学技术类',

1206-1209
物流管理与工程类
工业工程类
电子商务类
旅游管理类

In [125]:
c1label=['哲学','经济学','法学','教育学','文学','历史学',
         '理学','工学','农学','医学',
         '管理学','艺术学']

c1code=['0100','0200','0300','0400','0500','0600',
        '0700','0800','0900','1000',
        '1200','1300']

dfc1=pd.DataFrame({'c1label':c1label,'c1code':c1code})

c2code=['0101',
        '0201','0202','0202','0202',
        '0301','0302','0303','0304','0305',
        '0401','0403',
        '0501','0502','0503',
        '0600',
        '0701','0702','0703','0704','0705',
        '0706','0707','0708','0709','0710',
        '0402',
        '0714',
        '0801','0802',
        '0804','0805',
        '0807','0808',
        '08095',
        '0811','0812',
        '0814','0815','0816','0817','0818',
        '08195',
        '0821','0822','0823','0824','0825',
        '0826','0827','0828','0829','0830',
        '0831','0832',
        '0813','0837','0838','0839',
        '0901','0903','0905','0906','0907',
        '0908','0909',
        '1001','1002','1003','1004','1005',
        '1006','1007','1008','1009','1010',
        '1011',
        '1201','1202','1203','1204','1205',
        '1206','1207','1208','1209',
        '1301','1302','1303','1304','1305',
       ]

c2label=['哲学类',
         '经济学类','财政学类','金融学类','经济与贸易类',
         '法学类','政治学类','社会学类','民族学类','马克思主义理论类',
         '教育学类','体育学类',
         '中国语言文学类','外国语言文学类','新闻传播学类',
         '历史学类',
         '数学类','物理学类','化学类','天文学类','地理科学类',
         '大气科学类','海洋科学类','地球物理学类','地质学类','生物科学类',
         '心理学类',
         '统计学类',
         '力学类','机械类',
         '仪器类','材料类',
         '能源动力类','电气类',
         '电子信息类',
         '自动化类','计算机类',
         '土木类','水利类','测绘类','化工与制药类','地质类',
         '矿业类',
         '纺织类','轻工类','交通运输类','海洋工程类','航空航天类',
         '兵器类','核工程类','农业工程类','林业工程类','环境科学与工程类',
         '生物医学工程类','食品科学与工程类',
         '建筑类','安全科学与工程类','生物工程类','公安技术类',
         '植物生产类','自然保护与环境生态类','动物生产类','动物医学类','林学类',
         '水产类','草学类',
         '基础医学类','临床医学类','口腔医学类','公共卫生与预防医学类','中医学类',
         '中西医结合类','药学类','中药学类','法医学类','医学技术类',
         '护理学类',
         '管理科学与工程类','工商管理类','农业经济管理类','公共管理类','图书情报与档案管理类',
         '物流管理与工程类','工业工程类','电子商务类','旅游管理类',
         '艺术学理论类','音乐与舞蹈学类','戏剧与影视学类','美术学类','设计学类',
        ]

dfc2=pd.DataFrame({'c2label':c2label,'c2code':c2code})

In [126]:
c1dict=dict(zip(c1label,c1code))
c1dict

{'哲学': '0100',
 '经济学': '0200',
 '法学': '0300',
 '教育学': '0400',
 '文学': '0500',
 '历史学': '0600',
 '理学': '0700',
 '工学': '0800',
 '农学': '0900',
 '医学': '1000',
 '管理学': '1200',
 '艺术学': '1300'}

In [127]:
c2dict=dict(zip(c2label,c2code))#{key=c2label,value=c2code}
c2dict

{'哲学类': '0101',
 '经济学类': '0201',
 '财政学类': '0202',
 '金融学类': '0202',
 '经济与贸易类': '0202',
 '法学类': '0301',
 '政治学类': '0302',
 '社会学类': '0303',
 '民族学类': '0304',
 '马克思主义理论类': '0305',
 '教育学类': '0401',
 '体育学类': '0403',
 '中国语言文学类': '0501',
 '外国语言文学类': '0502',
 '新闻传播学类': '0503',
 '历史学类': '0600',
 '数学类': '0701',
 '物理学类': '0702',
 '化学类': '0703',
 '天文学类': '0704',
 '地理科学类': '0705',
 '大气科学类': '0706',
 '海洋科学类': '0707',
 '地球物理学类': '0708',
 '地质学类': '0709',
 '生物科学类': '0710',
 '心理学类': '0402',
 '统计学类': '0714',
 '力学类': '0801',
 '机械类': '0802',
 '仪器类': '0804',
 '材料类': '0805',
 '能源动力类': '0807',
 '电气类': '0808',
 '电子信息类': '08095',
 '自动化类': '0811',
 '计算机类': '0812',
 '土木类': '0814',
 '水利类': '0815',
 '测绘类': '0816',
 '化工与制药类': '0817',
 '地质类': '0818',
 '矿业类': '08195',
 '纺织类': '0821',
 '轻工类': '0822',
 '交通运输类': '0823',
 '海洋工程类': '0824',
 '航空航天类': '0825',
 '兵器类': '0826',
 '核工程类': '0827',
 '农业工程类': '0828',
 '林业工程类': '0829',
 '环境科学与工程类': '0830',
 '生物医学工程类': '0831',
 '食品科学与工程类': '0832',
 '建筑类': '0813',
 '安全科学与工程类': '0837',
 '生物工程类': '0838',
 '公安技术类': '0839',
 '植物生产类': '0901',
 '自然保护与环境生态类': '0903',
 '动物生产类': '0905',
 '动物医学类': '0906',
 '林学类': '0907',
 '水产类': '0908',
 '草学类': '0909',
 '基础医学类': '1001',
 '临床医学类': '1002',
 '口腔医学类': '1003',
 '公共卫生与预防医学类': '1004',
 '中医学类': '1005',
 '中西医结合类': '1006',
 '药学类': '1007',
 '中药学类': '1008',
 '法医学类': '1009',
 '医学技术类': '1010',
 '护理学类': '1011',
 '管理科学与工程类': '1201',
 '工商管理类': '1202',
 '农业经济管理类': '1203',
 '公共管理类': '1204',
 '图书情报与档案管理类': '1205',
 '物流管理与工程类': '1206',
 '工业工程类': '1207',
 '电子商务类': '1208',
 '旅游管理类': '1209',
 '艺术学理论类': '1301',
 '音乐与舞蹈学类': '1302',
 '戏剧与影视学类': '1303',
 '美术学类': '1304',
 '设计学类': '1305'}

In [79]:
dfc2

    c2label c2code
0       哲学类   0101
1      经济学类   0201
2      财政学类   0202
3      金融学类   0202
4    经济与贸易类   0202
..      ...    ...
86   艺术学理论类   1301
87  音乐与舞蹈学类   1302
88  戏剧与影视学类   1303
89     美术学类   1304
90     设计学类   1305

[91 rows x 2 columns]

In [472]:
eva=pd.read_csv('evaluation.csv',names=['collegeID_id','majorcode','evaluation'])
eva

      collegeID_id  majorcode evaluation
0            10001        101         A+
1            10246        101         A+
2            10002        101          A
3            10284        101          A
4            10027        101         A-
...            ...        ...        ...
5107         10384       1305         C-
5108         10431       1305         C-
5109         10511       1305         C-
5110         10611       1305         C-
5111         10700       1305         C-

[5112 rows x 3 columns]

In [473]:
eva['evaScore']=[0]*eva.shape[0]
#scdict={'A+':96,'A':93,'A-':90,'B'}
sd={'A':93,'B':83,'C':73}
for i in range(eva.shape[0]):
    e=eva['evaluation'][i]
    score=sd[e[:1]]
    if e[-1:]=='+':
        score+=3
    elif e[-1:]=='-':
        score-=3
    eva.loc[i,'evaScore']=score
    if eva.loc[i,'majorcode']<=1000:
        eva.loc[i,'majorcode']='0'+str(eva.loc[i,'majorcode'])
    else:
        eva.loc[i,'majorcode']=str(eva.loc[i,'majorcode'])
    #eva.loc[i,'collegeID_id']=str(eva.loc[i,'collegeID_id'])
eva

      collegeID_id majorcode evaluation  evaScore
0            10001      0101         A+        96
1            10246      0101         A+        96
2            10002      0101          A        93
3            10284      0101          A        93
4            10027      0101         A-        90
...            ...       ...        ...       ...
5107         10384      1305         C-        70
5108         10431      1305         C-        70
5109         10511      1305         C-        70
5110         10611      1305         C-        70
5111         10700      1305         C-        70

[5112 rows x 4 columns]

In [124]:
df1[df1['c2']=='']
#df1['c2'].fillna(value='',inplace=True)

,id,majorName,year,minScore,categoryID_id,collegeID_id,c1,c2,college_loc,provinceLoc,cityLoc,adcode,cityScore,c2code
265,228190,理科试验班,2020,654,2,10532,理学,,湖南省长沙市,湖南省,长沙市,430100,66.93,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
284,232864,人文科学试验班,2020,624,1,10532,"文学,哲学,历史学",,湖南省长沙市,湖南省,长沙市,430100,66.93,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
590,358990,工科试验班,2020,681,2,10486,工学,,湖北省武汉市,湖北省,武汉市,420100,70.55,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
591,359554,理科试验班,2020,680,2,10486,理学,,湖北省武汉市,湖北省,武汉市,420100,70.55,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
604,366977,社会科学试验班,2020,667,2,10486,"法学,经济学,管理学,教育学",,湖北省武汉市,湖北省,武汉市,420100,70.55,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
608,369295,工科试验班,2020,666,2,10486,工学,,湖北省武汉市,湖北省,武汉市,420100,70.55,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
609,369877,工科试验班,2020,666,2,10486,工学,,湖北省武汉市,湖北省,武汉市,420100,70.55,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
610,370460,理科试验班,2020,666,2,10486,理学,,湖北省武汉市,湖北省,武汉市,420100,70.55,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
617,374569,人文科学试验班,2020,644,1,10486,"文学,哲学,历史学",,湖北省武汉市,湖北省,武汉市,420100,70.55,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
622,377534,社会科学试验班,2020,639,1,10486,"法学,经济学,管理学,教育学",,湖北省武汉市,湖北省,武汉市,420100,70.55,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
898,579980,理学类,2020,646,2,10730,理学,,甘肃省兰州市,甘肃省,兰州市,620100,40.60,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
1214,905302,理科试验班类（匡亚明学院大理科班）,2020,693,2,10284,理学,,江苏省南京市,江苏省,南京市,320100,76.91,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
1221,913639,社会科学试验班,2020,650,1,10284,"法学,经济学,管理学,教育学",,江苏省南京市,江苏省,南京市,320100,76.91,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
1228,922025,工科试验班（吴健雄班）,2020,680,2,10286,工学,,江苏省南京市,江苏省,南京市,320100,76.91,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
1232,926839,理科试验班,2020,669,2,10286,理学,,江苏省南京市,江苏省,南京市,320100,76.91,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
1233,928045,文科试验班类,2020,631,1,10286,"文学,法学,经济学,哲学",,江苏省南京市,江苏省,南京市,320100,76.91,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
1543,1350110,工科试验班（竺可桢学院图灵班）,2020,696,2,10335,工学,,浙江省杭州市,浙江省,杭州市,330100,77.27,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
1546,1354664,社会科学试验班,2020,692,2,10335,"法学,经济学,管理学,教育学",,浙江省杭州市,浙江省,杭州市,330100,77.27,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
1551,1362274,理科试验班类,2020,691,2,10335,理学,,浙江省杭州市,浙江省,杭州市,330100,77.27,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
1553,1365325,社会科学试验班,2020,650,1,10335,"法学,经济学,管理学,教育学",,浙江省杭州市,浙江省,杭州市,330100,77.27,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
1554,1366852,人文科学试验班,2020,649,1,10335,"文学,哲学,历史学",,浙江省杭州市,浙江省,杭州市,330100,77.27,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
1556,1369909,理科试验班类（少年班学院教学改革试点班）,2020,694,2,10358,理学,,安徽省合肥市,安徽省,合肥市,340100,60.81,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
1557,1371439,理科试验班类（拔尖计划科技英才班）,2020,694,2,10358,理学,,安徽省合肥市,安徽省,合肥市,340100,60.81,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
1558,1372970,工科试验班（科技英才班）,2020,692,2,10358,工学,,安徽省合肥市,安徽省,合肥市,340100,60.81,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
1587,1417804,理科试验班类（新雅书院）,2020,709,2,10003,理学,,北京市,北京市,北京市,110000,94.72,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
1596,1431889,文科试验班类（经济、金融与管理）,2020,672,1,10003,"经济学,管理学",,北京市,北京市,北京市,110000,94.72,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
1597,1433459,文科试验班类（新雅书院）,2020,669,1,10003,"法学,经济学,哲学",,北京市,北京市,北京市,110000,94.72,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
1599,1436602,理科试验班类,2020,708,2,10001,理学,,北京市,北京市,北京市,110000,94.72,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
1605,1446055,工科试验班类,2020,703,2,10001,工学,,北京市,北京市,北京市,110000,94.72,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
1608,1450795,人文科学试验班,2020,679,1,10001,"文学,哲学,历史学",,北京市,北京市,北京市,110000,94.72,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
1610,1453960,文科试验班类,2020,671,1,10001,"文学,法学,经济学,哲学",,北京市,北京市,北京市,110000,94.72,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
1625,1477825,理科试验班类,2020,649,2,10004,理学,,北京市,北京市,北京市,110000,94.72,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
1701,1602199,理科试验班类(中法工程师学院),2020,685,2,10006,理学,,北京市,北京市,北京市,110000,94.72,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
1703,1605550,工科试验班类(国际通用工程学院),2020,686,2,10006,工学,,北京市,北京市,北京市,110000,94.72,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
1705,1608905,理科试验班类(高等理工学院),2020,689,2,10006,理学,,北京市,北京市,北京市,110000,94.72,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
1712,1620679,理科试验班,2020,689,2,10002,理学,,北京市,北京市,北京市,110000,94.72,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
1714,1624052,社会科学试验班（管理学科类）,2020,687,2,10002,管理学,,北京市,北京市,北京市,110000,94.72,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
1717,1629119,理科试验班（基础学科类）,2020,683,2,10002,理学,,北京市,北京市,北京市,110000,94.72,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
1725,1642675,社会科学试验班（管理学科类）,2020,653,1,10002,管理学,,北京市,北京市,北京市,110000,94.72,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
1729,1649477,人文科学试验班,2020,655,1,10002,"文学,哲学,历史学",,北京市,北京市,北京市,110000,94.72,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
1732,1654589,徐特立英才班,2020,682,2,10007,"工学,理学",,北京市,北京市,北京市,110000,94.72,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
1744,1675127,社会科学试验班(精品文科班),2020,629,1,10007,"法学,经济学,管理学,教育学",,北京市,北京市,北京市,110000,94.72,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
1745,1676845,理科试验班,2020,655,2,10008,理学,,北京市,北京市,北京市,110000,94.72,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
1746,1678564,工科试验班类,2020,652,2,10008,工学,,北京市,北京市,北京市,110000,94.72,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
1762,1706204,社会科学试验班,2020,619,1,10008,"法学,经济学,管理学,教育学",,北京市,北京市,北京市,110000,94.72,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
2366,2936854,工科试验班,2020,696,2,10246,工学,,上海市,上海市,上海市,310000,90.31,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
2470,3185570,理科实验班,2020,648,1,10280,理学,,上海市,上海市,上海市,310000,90.31,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
2471,3188014,理科实验班,2020,652,2,10280,理学,,上海市,上海市,上海市,310000,90.31,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
2473,3192905,理学工学Ⅱ类,2020,643,2,10280,"工学,理学",,上海市,上海市,上海市,310000,90.31,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
2474,3195352,理学工学Ⅰ类,2020,643,2,10280,"工学,理学",,上海市,上海市,上海市,310000,90.31,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
2475,3197800,人文社科类,2020,646,2,10280,"文学,法学,哲学,历史学",,上海市,上海市,上海市,310000,90.31,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
2479,3207602,人文社科类,2020,622,1,10280,"文学,法学,哲学,历史学",,上海市,上海市,上海市,310000,90.31,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
2484,3219877,理科试验班类,2020,646,2,10255,理学,,上海市,上海市,上海市,310000,90.31,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
2496,3249439,社会科学试验班,2020,639,2,10255,"法学,经济学,管理学,教育学",,上海市,上海市,上海市,310000,90.31,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
2611,3540044,人文科学试验班,2020,635,1,10247,"文学,哲学,历史学",,上海市,上海市,上海市,310000,90.31,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
2612,3542629,社会科学试验班,2020,638,1,10247,"法学,经济学,管理学,教育学",,上海市,上海市,上海市,310000,90.31,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
2739,3879052,人文科学试验班,2020,630,1,106111,"文学,哲学,历史学",,重庆市,重庆市,重庆市,500000,67.38,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."
3147,5068984,工科试验班（英才本硕博连读）,2020,684,2,10213,工学,,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06,"[None, 0202, 0201, 0202, 1208, 1201, 0202, 020..."

In [231]:
df1['c2code']=[[1]]*df1.shape[0]
c1s=set()
for i in range(df1.shape[0]):
    df1.at[i,'c2code']=list()
    if df1.loc[i,'c2']=='':
        c1list=df1.loc[i,'c1'].split(',')
        for c1 in c1list:
            df1.loc[i,'c2code'].append(str(c1dict[c1]))
            c1s.add(str(c1dict[c1]))
    else:
        c2list=df1.loc[i,'c2'].split(',')
        for c2 in c2list:
            df1.loc[i,'c2code'].append(str(c2dict[c2]))

df1

,id,majorName,year,minScore,categoryID_id,collegeID_id,c1,c2,college_loc,provinceLoc,cityLoc,adcode,cityScore,c2code
0,0,计算机类,2020,622,2.0,10593,工学,计算机类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02,[0812]
1,1,数学类,2020,621,2.0,10593,理学,数学类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02,[0701]
2,2,机械类,2020,621,2.0,10593,工学,机械类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02,[0802]
3,3,土木工程,2020,620,2.0,10593,工学,土木类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02,[0814]
4,4,经济学类,2020,620,2.0,10593,经济学,经济学类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02,[0201]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335,5528704,野生动物与自然保护区管理（国家专项）,2020,611,2.0,10225,农学,自然保护与环境生态类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06,[0903]
3336,5531969,计算机科学与技术(中外合作办学),2020,589,2.0,10225,工学,计算机类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06,[0812]
3337,5535235,化学(中外合作办学),2020,577,2.0,10225,理学,化学类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06,[0703]
3338,5538502,生物技术(中外合作办学),2020,575,2.0,10225,理学,生物科学类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06,[0710]
3339,5541770,工程管理(中外合作办学),2020,547,2.0,10225,管理学,管理科学与工程类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06,[1201]

In [232]:
c1s

{'0100', '0200', '0300', '0400', '0500', '0600', '0700', '0800', '1200'}

In [474]:
eva.sort_values(by='collegeID_id',inplace=True)
eva

      collegeID_id majorcode evaluation  evaScore
0            10001      0101         A+        96
680          10001      0402         A+        96
3658         10001      0835          A        93
615          10001      0401         A-        90
4020         10001      1001         A+        96
...            ...       ...        ...       ...
3041         91037      0816         A+        96
3703         91037      0835          B        83
2161         91037      0804          C        73
2655         91037      0811         B-        80
2475         91037      0809         C+        76

[5112 rows x 4 columns]

## college情况

In [233]:
coll=pd.read_csv('7.21/college.csv',encoding='gbk',header=None)
coll.drop(columns=[5],inplace=True)
coll['collegeScore']=[0]*coll.shape[0]
for i in range(coll.shape[0]):
    if (coll[2][i]==1)&(coll[3][i]==1):
        if coll[4][i]==1:
            coll.at[i,'collegeScore']=86
        else:
            coll.at[i,'collegeScore']=80
    elif (coll[2][i]==0)&(coll[3][i]==1):
        if coll[4][i]==1:
            coll.at[i,'collegeScore']=76
        else:
            coll.at[i,'collegeScore']=73
    else:
        print(coll[2][i],coll[3][i],coll[4][i])
        coll.at[i,'collegeScore']=66
    coll.at[i,'collegeScore']
coll

          0           1  2  3  4   5
0     10001        北京大学  1  1  1  25
1     10002      中国人民大学  1  1  1  25
2     10003        清华大学  1  1  1  25
3     10004      北京交通大学  1  1  0  25
4     10006    北京航空航天大学  1  1  1  25
..      ...         ... .. .. ..  ..
98    11413  中国矿业大学（北京）  0  1  1  25
99    11415  中国地质大学（北京）  0  1  1  25
100   11417      北京联合大学  0  0  0  25
101   20000     复旦大学医学部  1  1  1   9
102  106111        重庆大学  1  1  1  27

[103 rows x 6 columns]

In [386]:
coll[coll[0]==106111]#d, , 106111}]

          0     1  2  3  4   5
102  106111  重庆大学  1  1  1  27

In [ ]:
{76,76,86}

In [ ]:
111 86 000 66
110 80 011 76 010 73

In [318]:
coll[(coll[3]==0) & (coll[2]==1)]

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5]
Index: []

In [222]:
for col in range(coll.shape[0]):
    print(col)
    #df1[df1['collegeID_id']==col]

0
1

In [226]:
evanow.index#at[2,'evaScore']

Int64Index([   0,  680, 3658,  615, 4020, 4078, 4134,  452, 4164, 4234, 3484,
            4263, 4368,  329, 4461, 4541,  231, 4736, 4839, 4863,  121,  382,
             770, 3369, 3320, 1572, 1563, 1537, 1709, 1721, 1789, 1494, 1491,
            1874, 1384, 1295, 2425, 1166, 2510, 1126, 1071, 2707, 1044,  996,
            3043,  873, 4967,   60, 1585],
           dtype='int64')

In [229]:
dfnow

,id,majorName,year,minScore,categoryID_id,collegeID_id,c1,c2,college_loc,provinceLoc,cityLoc,adcode,cityScore,c2code
1642,1435030,工商管理类,2020,709,2.0,10001,管理学,工商管理类,北京市,北京市,北京市,110000,94.72,[1202]
1643,1436602,理科试验班类,2020,708,2.0,10001,理学,,北京市,北京市,北京市,110000,94.72,[0700]
1644,1438175,数学类,2020,706,2.0,10001,理学,数学类,北京市,北京市,北京市,110000,94.72,[0701]
1645,1439749,法学,2020,705,2.0,10001,法学,法学类,北京市,北京市,北京市,110000,94.72,[0301]
1646,1441324,计算机类,2020,705,2.0,10001,工学,计算机类,北京市,北京市,北京市,110000,94.72,[0812]
1647,1442900,物理学类,2020,704,2.0,10001,理学,物理学类,北京市,北京市,北京市,110000,94.72,[0702]
1648,1444477,化学类,2020,704,2.0,10001,理学,化学类,北京市,北京市,北京市,110000,94.72,[0703]
1649,1446055,工科试验班类,2020,703,2.0,10001,工学,,北京市,北京市,北京市,110000,94.72,[0800]
1650,1447634,经济学类,2020,703,2.0,10001,经济学,经济学类,北京市,北京市,北京市,110000,94.72,[0201]
1651,1449214,电子信息类,2020,703,2.0,10001,工学,电子信息类,北京市,北京市,北京市,110000,94.72,[08095]
1652,1450795,人文科学试验班,2020,679,1.0,10001,"文学,哲学,历史学",,北京市,北京市,北京市,110000,94.72,"[0500, 0100, 0600]"
1653,1452377,工商管理类,2020,674,1.0,10001,管理学,工商管理类,北京市,北京市,北京市,110000,94.72,[1202]
1654,1453960,文科试验班类,2020,671,1.0,10001,"文学,法学,经济学,哲学",,北京市,北京市,北京市,110000,94.72,"[0500, 0300, 0200, 0100]"
1655,1455544,经济学类,2020,670,1.0,10001,经济学,经济学类,北京市,北京市,北京市,110000,94.72,[0201]
1656,1457129,城乡规划,2020,667,1.0,10001,工学,建筑类,北京市,北京市,北京市,110000,94.72,[0813]
1657,1458715,法学,2020,666,1.0,10001,法学,法学类,北京市,北京市,北京市,110000,94.72,[0301]
1658,1460302,公共管理类,2020,666,1.0,10001,管理学,公共管理类,北京市,北京市,北京市,110000,94.72,[1204]
1659,1461890,中国语言文学类,2020,665,1.0,10001,文学,中国语言文学类,北京市,北京市,北京市,110000,94.72,[0501]
1660,1463479,新闻传播学类,2020,665,1.0,10001,文学,新闻传播学类,北京市,北京市,北京市,110000,94.72,[0503]
1661,1465069,国际政治（国政、外交学、国际政经）,2020,663,1.0,10001,法学,政治学类,北京市,北京市,北京市,110000,94.72,[0302]

In [248]:
evanow=eva[eva['collegeID_id']==10459]
dfnow=df1[df1['collegeID_id']==10001]
evanow

      collegeID_id majorcode evaluation  evaScore
3699         10459      0835          B        83
484          10459      0305         B+        86
2670         10459      0811         C+        76
1854         10459      0714          C        73
4391         10459      1011         C+        76
4757         10459      1204         B+        86
4943         10459      1302         C-        70
1407         10459      0703         B+        86
4506         10459      1201          C        73
2200         10459      0805         B+        86
2411         10459      0808          C        73
1049         10459      0601         B+        86
3085         10459      0817         B+        86
266          10459      0301          B        83
4185         10459      1004         C+        76
1097         10459      0602         B-        80
2493         10459      0809         C-        70
4643         10459      1202         C+        76
3613         10459      0833         C-        70
1342         10459      0702         B-        80
2036         10459      0802          C        73
1006         10459      0503          B        83
187          10459      0202         C+        76
3452         10459      0830          C        73
4095         10459      1002          B        83
4850         10459      1205         B-        80
2818         10459      0812         C+        76
1212         10459      0701          B        83
751          10459      0403         C+        76
2560         10459      0810         C+        76
929          10459      0502         B-        80
4288         10459      1007          B        83
371          10459      0302          C        73
2909         10459      0813         C-        70
1919         10459      0801          C        73
3807         10459      0837         C-        70
4047         10459      1001         B-        80
836          10459      0501         C+        76
2343         10459      0807         C+        76
3012         10459      0815         B+        86
1151         10459      0603         C+        76
1678         10459      0710          C        73
2944         10459      0814          B        83

In [447]:
eva.describe()#now.describe().at['mean','evaScore']

       collegeID_id     evaScore
count   5112.000000  5112.000000
mean   11820.429577    79.991980
std    10599.509522     7.237761
min    10001.000000    70.000000
25%    10189.500000    73.000000
50%    10360.000000    80.000000
75%    10589.000000    86.000000
max    91037.000000    96.000000

In [265]:
df1s=set(df1['collegeID_id'])

In [271]:
coll[coll[0]==11415]

        0           1  2  3  4   5
99  11415  中国地质大学（北京）  0  1  1  25

In [354]:
colls

{10001,
 10002,
 10003,
 10004,
 10006,
 10007,
 10008,
 10009,
 10010,
 10011,
 10013,
 10022,
 10027,
 10028,
 10030,
 10033,
 10036,
 10043,
 10054,
 10112,
 10126,
 10140,
 10141,
 10151,
 10159,
 10183,
 10184,
 10200,
 10213,
 10216,
 10224,
 10225,
 10246,
 10247,
 10248,
 10251,
 10255,
 10269,
 10270,
 10271,
 10276,
 10280,
 10284,
 10285,
 10286,
 10287,
 10288,
 10291,
 10294,
 10295,
 10304,
 10307,
 10319,
 10327,
 10335,
 10336,
 10337,
 10338,
 10357,
 10358,
 10359,
 10384,
 10385,
 10386,
 10389,
 10403,
 10422,
 10423,
 10459,
 10486,
 10487,
 10488,
 10491,
 10504,
 10511,
 10512,
 10532,
 10533,
 10542,
 10559,
 10560,
 10561,
 10593,
 10610,
 10613,
 10626,
 10635,
 10651,
 10657,
 10697,
 10698,
 10701,
 10710,
 10730,
 10755,
 10759,
 11065,
 11078,
 11413,
 11415,
 11417,
 20000,
 106111}

In [355]:
len(colls.intersection(df1s))

98

In [457]:
len(df1s)

98

In [456]:
df1s.difference(colls.intersection(df1s))

set()

In [356]:
len(df1s)

98

In [272]:
df1[df1['collegeID_id']==11415]

,id,majorName,year,minScore,categoryID_id,collegeID_id,c1,c2,college_loc,provinceLoc,cityLoc,adcode,cityScore,c2code
1910,1892104,安全工程,2020,632,2.0,11415,工学,安全科学与工程类,北京市,北京市,北京市,110000,94.72,[0837]
1911,1893944,宝石及材料工艺学,2020,631,2.0,11415,工学,材料类,北京市,北京市,北京市,110000,94.72,[0805]
1912,1895785,材料类,2020,633,2.0,11415,工学,材料类,北京市,北京市,北京市,110000,94.72,[0805]
1913,1897627,材料物理,2020,630,2.0,11415,工学,材料类,北京市,北京市,北京市,110000,94.72,[0805]
1914,1899470,测绘工程,2020,633,2.0,11415,工学,测绘类,北京市,北京市,北京市,110000,94.72,[0816]
1915,1901314,测控技术与仪器,2020,626,2.0,11415,工学,仪器类,北京市,北京市,北京市,110000,94.72,[0804]
1916,1903159,地理信息科学,2020,635,2.0,11415,理学,地理科学类,北京市,北京市,北京市,110000,94.72,[0705]
1917,1905005,地球物理学,2020,633,2.0,11415,理学,地球物理学类,北京市,北京市,北京市,110000,94.72,[0708]
1918,1906852,地下水科学与工程,2020,630,2.0,11415,工学,地质类,北京市,北京市,北京市,110000,94.72,[0818]
1919,1908700,地质工程,2020,628,2.0,11415,工学,地质类,北京市,北京市,北京市,110000,94.72,[0818]
1920,1910549,地质学（基地班）,2020,640,2.0,11415,理学,地质学类,北京市,北京市,北京市,110000,94.72,[0709]
1921,1912399,地质学类,2020,633,2.0,11415,理学,地质学类,北京市,北京市,北京市,110000,94.72,[0709]
1922,1914250,电气工程及其自动化,2020,638,2.0,11415,工学,电气类,北京市,北京市,北京市,110000,94.72,[0808]
1923,1916102,电子信息工程,2020,638,2.0,11415,工学,电子信息类,北京市,北京市,北京市,110000,94.72,[08095]
1924,1917955,工商管理类,2020,633,2.0,11415,管理学,工商管理类,北京市,北京市,北京市,110000,94.72,[1202]
1925,1919809,海洋科学,2020,622,2.0,11415,理学,海洋科学类,北京市,北京市,北京市,110000,94.72,[0707]
1926,1921664,海洋资源与环境,2020,622,2.0,11415,理学,海洋科学类,北京市,北京市,北京市,110000,94.72,[0707]
1927,1923520,环境工程,2020,632,2.0,11415,工学,环境科学与工程类,北京市,北京市,北京市,110000,94.72,[0830]
1928,1925377,机械设计制造及其自动化,2020,636,2.0,11415,工学,机械类,北京市,北京市,北京市,110000,94.72,[0802]
1929,1927235,计算机科学与技术,2020,643,2.0,11415,工学,计算机类,北京市,北京市,北京市,110000,94.72,[0812]
1930,1929094,勘查技术与工程,2020,624,2.0,11415,工学,地质类,北京市,北京市,北京市,110000,94.72,[0818]
1931,1930954,软件工程,2020,639,2.0,11415,工学,计算机类,北京市,北京市,北京市,110000,94.72,[0812]
1932,1932815,石油工程,2020,621,2.0,11415,工学,矿业类,北京市,北京市,北京市,110000,94.72,[08195]
1933,1934677,数学与应用数学,2020,634,2.0,11415,理学,数学类,北京市,北京市,北京市,110000,94.72,[0701]
1934,1936540,土地整治工程,2020,630,2.0,11415,工学,农业工程类,北京市,北京市,北京市,110000,94.72,[0828]
1935,1938404,土地资源管理,2020,626,2.0,11415,管理学,公共管理类,北京市,北京市,北京市,110000,94.72,[1204]
1936,1940269,土木工程,2020,642,2.0,11415,工学,土木类,北京市,北京市,北京市,110000,94.72,[0814]
1937,1942135,英语,2020,632,2.0,11415,文学,外国语言文学类,北京市,北京市,北京市,110000,94.72,[0502]
1938,1944002,资源勘查工程（能源）,2020,634,2.0,11415,工学,地质类,北京市,北京市,北京市,110000,94.72,[0818]
1939,1945870,法学,2020,613,1.0,11415,法学,法学类,北京市,北京市,北京市,110000,94.72,[0301]
1940,1947739,英语,2020,613,1.0,11415,文学,外国语言文学类,北京市,北京市,北京市,110000,94.72,[0502]

In [364]:
len(cols.intersection(df1s))

95

In [253]:
for i in range(coll.shape[0]):
    if coll.at[i,0]

460

In [448]:
cols=set()
for i in range(eva.shape[0]):
    cols.add(eva.at[i,'collegeID_id'])

In [260]:
c1s

{'0100', '0200', '0300', '0400', '0500', '0600', '0700', '0800', '1200'}

In [319]:
coll

          0           1  2  3  4   5
0     10001        北京大学  1  1  1  25
1     10002      中国人民大学  1  1  1  25
2     10003        清华大学  1  1  1  25
3     10004      北京交通大学  1  1  0  25
4     10006    北京航空航天大学  1  1  1  25
..      ...         ... .. .. ..  ..
98    11413  中国矿业大学（北京）  0  1  1  25
99    11415  中国地质大学（北京）  0  1  1  25
100   11417      北京联合大学  0  0  0  25
101   20000     复旦大学医学部  1  1  1   9
102  106111        重庆大学  1  1  1  27

[103 rows x 6 columns]

In [324]:
eva

      collegeID_id majorcode evaluation  evaScore
0            10001      0101         A+        96
680          10001      0402         A+        96
3658         10001      0835          A        93
615          10001      0401         A-        90
4020         10001      1001         A+        96
...            ...       ...        ...       ...
3041         91037      0816         A+        96
3703         91037      0835          B        83
2161         91037      0804          C        73
2655         91037      0811         B-        80
2475         91037      0809         C+        76

[5112 rows x 4 columns]

In [331]:
evanow=eva[(eva['collegeID_id']==10001)&(eva['majorcode'].str[:2]=='15')]

In [342]:
score=evanow.describe()['evaScore']['mean']#==np.nan
score

nan

In [344]:
score==score

False

In [340]:
import numpy as np
np.isnan(evanow.describe()['evaScore']['mean'])

True

## 专业赋分策略

1. 处理大学集合，增加c1s所需要的分值
2. 进入循环，以每所大学、每一行为索引：
* 查看大学有无eva，如果没有，根据985双一流情况赋分
    有，设置平均分mean
* 对该行c2code进行迭代查找，有的话+=evaScore，没有的话+=mean，取平均

In [451]:
df1s

{10001,
 10002,
 10003,
 10004,
 10006,
 10007,
 10008,
 10009,
 10010,
 10011,
 10013,
 10022,
 10027,
 10028,
 10030,
 10033,
 10036,
 10043,
 10054,
 10112,
 10126,
 10140,
 10141,
 10151,
 10183,
 10184,
 10200,
 10213,
 10216,
 10224,
 10225,
 10246,
 10247,
 10248,
 10251,
 10255,
 10269,
 10270,
 10271,
 10276,
 10280,
 10284,
 10285,
 10286,
 10287,
 10288,
 10291,
 10294,
 10295,
 10304,
 10307,
 10319,
 10327,
 10335,
 10336,
 10337,
 10338,
 10357,
 10358,
 10359,
 10384,
 10385,
 10386,
 10389,
 10403,
 10422,
 10486,
 10487,
 10488,
 10491,
 10504,
 10511,
 10512,
 10532,
 10533,
 10542,
 10559,
 10560,
 10561,
 10593,
 10610,
 10613,
 10626,
 10635,
 10651,
 10657,
 10697,
 10698,
 10701,
 10710,
 10730,
 10755,
 10759,
 11065,
 11078,
 11415,
 11417,
 106111}

In [454]:
set(coll[0].values)

array([ 10001,  10002,  10003,  10004,  10006,  10007,  10008,  10009,
        10010,  10011,  10013,  10022,  10027,  10028,  10030,  10033,
        10036,  10043,  10054,  10112,  10126,  10140,  10141,  10151,
        10159,  10183,  10184,  10200,  10213,  10216,  10224,  10225,
        10246,  10247,  10248,  10251,  10255,  10269,  10270,  10271,
        10276,  10280,  10284,  10285,  10286,  10287,  10288,  10291,
        10294,  10295,  10304,  10307,  10319,  10327,  10335,  10336,
        10337,  10338,  10357,  10358,  10359,  10384,  10385,  10386,
        10389,  10403,  10422,  10423,  10459,  10486,  10487,  10488,
        10491,  10504,  10511,  10512,  10532,  10533,  10542,  10559,
        10560,  10561,  10593,  10610,  10613,  10626,  10635,  10651,
        10657,  10697,  10698,  10701,  10710,  10730,  10755,  10759,
        11065,  11078,  11413,  11415,  11417,  20000, 106111],
      dtype=int64)

In [379]:
eva[eva['collegeID_id']=='10001']

     collegeID_id majorcode evaluation   evaScore
0           10001      0101         A+  96.000000
60          10001      0201          A  93.000000
121         10001      0202         A+  96.000000
231         10001      0301          A  93.000000
329         10001      0302         A+  96.000000
382         10001      0303         A+  96.000000
452         10001      0305          A  93.000000
615         10001      0401         A-  90.000000
680         10001      0402         A+  96.000000
770         10001      0501         A+  96.000000
873         10001      0502         A+  96.000000
996         10001      0503         B+  86.000000
1044        10001      0601         A+  96.000000
1071        10001      0602          A  93.000000
1126        10001      0603         A+  96.000000
1166        10001      0701         A+  96.000000
1295        10001      0702         A+  96.000000
1384        10001      0703         A+  96.000000
1491        10001      0704         B-  80.000000
1494        10001      0705         A+  96.000000
1537        10001      0706         A+  96.000000
1563        10001      0708          B  83.000000
1572        10001      0709         B+  86.000000
1585        10001      0710         A+  96.000000
1709        10001      0712          B  83.000000
1721        10001      0713          A  93.000000
1789        10001      0714         A+  96.000000
1874        10001      0801         A+  96.000000
2425        10001      0809          A  93.000000
2510        10001      0810         B+  86.000000
2707        10001      0812         A+  96.000000
3043        10001      0816         B+  86.000000
3320        10001      0827         B+  86.000000
3369        10001      0830          A  93.000000
3484        10001      0831         B+  86.000000
3658        10001      0835          A  93.000000
4020        10001      1001         A+  96.000000
4078        10001      1002         A-  90.000000
4134        10001      1003         A+  96.000000
4164        10001      1004         A-  90.000000
4234        10001      1006          B  83.000000
4263        10001      1007          A  93.000000
4368        10001      1011         B+  86.000000
4461        10001      1201         B-  80.000000
4541        10001      1202          A  93.000000
4736        10001      1204          A  93.000000
4839        10001      1205         B+  86.000000
4863        10001      1301         A+  96.000000
4967        10001      1303         C+  76.000000
5112        10001      0100             96.000000
5113        10001      0500             92.666667
5114        10001      0700             91.416667
5115        10001      0400             93.000000
5116        10001      0200             94.500000
5117        10001      0300             94.500000
5118        10001      0800             90.555556
5119        10001      1200             88.000000
5120        10001      0600             95.000000

In [463]:
c1s

{'0100', '0200', '0300', '0400', '0500', '0600', '0700', '0800', '1200'}

In [475]:
c1l=list(c1s)
for cid in coll[0]:
    print(cid)
    for c1cd in c1l:
        evanow=eva[(eva['collegeID_id']==cid)&(eva['majorcode'].str[:2]==c1cd[:2])]
        score=evanow.describe()['evaScore']['mean']
        if score==score:
            eva=eva.append({'collegeID_id':cid,'majorcode':str(c1cd),'evaluation':'','evaScore':score},ignore_index=True)

10001
10002
10003
10004
10006
10007
10008
10009
10010
10011
10013
10022
10027
10028
10030
10033
10036
10043
10054
10112
10126
10140
10141
10151
10159
10183
10184
10200
10213
10216
10224
10225
10246
10247
10248
10251
10255
10269
10270
10271
10276
10280
10284
10285
10286
10287
10288
10291
10294
10295
10304
10307
10319
10327
10335
10336
10337
10338
10357
10358
10359
10384
10385
10386
10389
10403
10422
10423
10459
10486
10487
10488
10491
10504
10511
10512
10532
10533
10542
10559
10560
10561
10593
10610
10613
10626
10635
10651
10657
10697
10698
10701
10710
10730
10755
10759
11065
11078
11413
11415
11417
20000
106111

In [491]:
eva.sort_values(by=['collegeID_id','majorcode'],inplace=True)
eva.drop(columns=['index'],inplace=True)
eva.reset_index(drop=True,inplace=True)

In [367]:
df1s.difference(cols.intersection(df1s))

{10054, 11415, 106111}

In [393]:
coll[coll[1]=='东南大学']

        0     1  2  3  4  5
44  10286  东南大学  1  1  1  4

In [492]:
evanow=eva[eva['collegeID_id']==10001]
evanow#.describe()

    collegeID_id majorcode evaluation   evaScore
0          10001      0100             96.000000
1          10001      0101         A+  96.000000
2          10001      0200             94.500000
3          10001      0201          A  93.000000
4          10001      0202         A+  96.000000
5          10001      0300             94.500000
6          10001      0301          A  93.000000
7          10001      0302         A+  96.000000
8          10001      0303         A+  96.000000
9          10001      0305          A  93.000000
10         10001      0400             93.000000
11         10001      0401         A-  90.000000
12         10001      0402         A+  96.000000
13         10001      0500             92.666667
14         10001      0501         A+  96.000000
15         10001      0502         A+  96.000000
16         10001      0503         B+  86.000000
17         10001      0600             95.000000
18         10001      0601         A+  96.000000
19         10001      0602          A  93.000000
20         10001      0603         A+  96.000000
21         10001      0700             91.416667
22         10001      0701         A+  96.000000
23         10001      0702         A+  96.000000
24         10001      0703         A+  96.000000
25         10001      0704         B-  80.000000
26         10001      0705         A+  96.000000
27         10001      0706         A+  96.000000
28         10001      0708          B  83.000000
29         10001      0709         B+  86.000000
30         10001      0710         A+  96.000000
31         10001      0712          B  83.000000
32         10001      0713          A  93.000000
33         10001      0714         A+  96.000000
34         10001      0800             90.555556
35         10001      0801         A+  96.000000
36         10001      0809          A  93.000000
37         10001      0810         B+  86.000000
38         10001      0812         A+  96.000000
39         10001      0816         B+  86.000000
40         10001      0827         B+  86.000000
41         10001      0830          A  93.000000
42         10001      0831         B+  86.000000
43         10001      0835          A  93.000000
44         10001      1001         A+  96.000000
45         10001      1002         A-  90.000000
46         10001      1003         A+  96.000000
47         10001      1004         A-  90.000000
48         10001      1006          B  83.000000
49         10001      1007          A  93.000000
50         10001      1011         B+  86.000000
51         10001      1200             88.000000
52         10001      1201         B-  80.000000
53         10001      1202          A  93.000000
54         10001      1204          A  93.000000
55         10001      1205         B+  86.000000
56         10001      1301         A+  96.000000
57         10001      1303         C+  76.000000

In [398]:
list(df1[df1['collegeID_id']==10054].index)

[2259,
 2260,
 2261,
 2262,
 2263,
 2264,
 2265,
 2266,
 2267,
 2268,
 2269,
 2270,
 2271,
 2272,
 2273,
 2274,
 2275,
 2276,
 2277,
 2278,
 2279]

对该行c2code进行迭代查找，有的话+=evaScore，没有的话+=mean，取平均

In [442]:
type(eva['collegeID_id'][0])

str

In [425]:
df1.to_csv('df120210727.csv',encoding='gbk')

In [530]:
df=pd.read_csv('df120210727.csv',encoding='gbk')
df.drop(columns=['Unnamed: 0'],inplace=True)
df

,id,majorName,year,minScore,categoryID_id,collegeID_id,c1,c2,college_loc,provinceLoc,cityLoc,adcode,cityScore,c2code,majorScore,preRanking
0,0,计算机类,2020,622,2.0,10593,工学,计算机类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02,['0812'],0,0
1,1,数学类,2020,621,2.0,10593,理学,数学类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02,['0701'],0,0
2,2,机械类,2020,621,2.0,10593,工学,机械类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02,['0802'],0,0
3,3,土木工程,2020,620,2.0,10593,工学,土木类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02,['0814'],0,0
4,4,经济学类,2020,620,2.0,10593,经济学,经济学类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02,['0201'],0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335,5528704,野生动物与自然保护区管理（国家专项）,2020,611,2.0,10225,农学,自然保护与环境生态类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06,['0903'],0,0
3336,5531969,计算机科学与技术(中外合作办学),2020,589,2.0,10225,工学,计算机类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06,['0812'],0,0
3337,5535235,化学(中外合作办学),2020,577,2.0,10225,理学,化学类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06,['0703'],0,0
3338,5538502,生物技术(中外合作办学),2020,575,2.0,10225,理学,生物科学类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06,['0710'],0,0
3339,5541770,工程管理(中外合作办学),2020,547,2.0,10225,管理学,管理科学与工程类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06,['1201'],0,0

In [531]:
df1=df

In [532]:
df[df['collegeID_id']==10001]

,id,majorName,year,minScore,categoryID_id,collegeID_id,c1,c2,college_loc,provinceLoc,cityLoc,adcode,cityScore,c2code,majorScore,preRanking
1642,1435030,工商管理类,2020,709,2.0,10001,管理学,工商管理类,北京市,北京市,北京市,110000,94.72,['1202'],0,0
1643,1436602,理科试验班类,2020,708,2.0,10001,理学,NaN,北京市,北京市,北京市,110000,94.72,['0700'],0,0
1644,1438175,数学类,2020,706,2.0,10001,理学,数学类,北京市,北京市,北京市,110000,94.72,['0701'],0,0
1645,1439749,法学,2020,705,2.0,10001,法学,法学类,北京市,北京市,北京市,110000,94.72,['0301'],0,0
1646,1441324,计算机类,2020,705,2.0,10001,工学,计算机类,北京市,北京市,北京市,110000,94.72,['0812'],0,0
1647,1442900,物理学类,2020,704,2.0,10001,理学,物理学类,北京市,北京市,北京市,110000,94.72,['0702'],0,0
1648,1444477,化学类,2020,704,2.0,10001,理学,化学类,北京市,北京市,北京市,110000,94.72,['0703'],0,0
1649,1446055,工科试验班类,2020,703,2.0,10001,工学,NaN,北京市,北京市,北京市,110000,94.72,['0800'],0,0
1650,1447634,经济学类,2020,703,2.0,10001,经济学,经济学类,北京市,北京市,北京市,110000,94.72,['0201'],0,0
1651,1449214,电子信息类,2020,703,2.0,10001,工学,电子信息类,北京市,北京市,北京市,110000,94.72,"['0809', '0810']",0,0
1652,1450795,人文科学试验班,2020,679,1.0,10001,"文学,哲学,历史学",NaN,北京市,北京市,北京市,110000,94.72,"['0500', '0100', '0600']",0,0
1653,1452377,工商管理类,2020,674,1.0,10001,管理学,工商管理类,北京市,北京市,北京市,110000,94.72,['1202'],0,0
1654,1453960,文科试验班类,2020,671,1.0,10001,"文学,法学,经济学,哲学",NaN,北京市,北京市,北京市,110000,94.72,"['0500', '0300', '0200', '0100']",0,0
1655,1455544,经济学类,2020,670,1.0,10001,经济学,经济学类,北京市,北京市,北京市,110000,94.72,['0201'],0,0
1656,1457129,城乡规划,2020,667,1.0,10001,工学,建筑类,北京市,北京市,北京市,110000,94.72,['0813'],0,0
1657,1458715,法学,2020,666,1.0,10001,法学,法学类,北京市,北京市,北京市,110000,94.72,['0301'],0,0
1658,1460302,公共管理类,2020,666,1.0,10001,管理学,公共管理类,北京市,北京市,北京市,110000,94.72,['1204'],0,0
1659,1461890,中国语言文学类,2020,665,1.0,10001,文学,中国语言文学类,北京市,北京市,北京市,110000,94.72,['0501'],0,0
1660,1463479,新闻传播学类,2020,665,1.0,10001,文学,新闻传播学类,北京市,北京市,北京市,110000,94.72,['0503'],0,0
1661,1465069,国际政治（国政、外交学、国际政经）,2020,663,1.0,10001,法学,政治学类,北京市,北京市,北京市,110000,94.72,['0302'],0,0

In [511]:
colS

81.0

In [ ]:
for ind in df1nowind:#对每一行
        c2codel=df1.loc[ind,'c2code']
        for c2code in c2codel:#对c2code列表内的每一项
            enn=evanow[evanow['majorcode']==c2code]
            if enn.shape[0]==0:
                df1.loc[ind,'majorScore']+=colS
            else:
                df1.loc[ind,'majorScore']+=enn.describe()['evaScore']['mean']
        df1.loc[ind,'majorScore']=(df1.loc[ind,'majorScore'])/(len(c2codel))

In [533]:
df1['c2code'][3266]#.dtype=list()

"['0710']"

In [535]:
eval(df1.loc[3266,'c2code'])

['0710']

In [536]:
c2codel=eval(df1.loc[3266,'c2code'])
for c2code in c2codel:
    print(c2code)

0710

In [537]:
evanow[evanow['majorcode']==c2code]

      collegeID_id majorcode evaluation  evaScore
1625         10225      0710          B      83.0

In [506]:
evanow

      collegeID_id majorcode evaluation  evaScore
1622         10225      0300                 76.0
1623         10225      0305         C+      76.0
1624         10225      0700                 83.0
1625         10225      0710          B      83.0
1626         10225      0713          B      83.0
1627         10225      0800                 83.5
1628         10225      0802         C+      76.0
1629         10225      0823         C+      76.0
1630         10225      0829         A+      96.0
1631         10225      0834         B+      86.0
1632         10225      0907         B+      86.0
1633         10225      1200                 76.5
1634         10225      1201         C-      70.0
1635         10225      1203          B      83.0

In [538]:
df1['majorScore']=[0]*df1.shape[0]
df1ls=list(df1s)
colScore={10054:76,11415:76,106111:83}

for cid in df1ls:
    print(cid)
    evanow=eva[eva['collegeID_id']==cid]
    df1nowind=list(df1[df1['collegeID_id']==cid].index)
    
    if evanow.shape[0]==0:#无该学校专业评估分数
        colS=colScore[cid]
        df1.loc[df1nowind,'majorScore']=colS
        continue
    else:
        colS=evanow.describe()['evaScore']['mean']
    
    for ind in df1nowind:#对每一行
        c2codel=eval(df1.loc[ind,'c2code'])
        for c2code in c2codel:#对c2code列表内的每一项
            enn=evanow[evanow['majorcode']==c2code]
            if enn.shape[0]==0:
                df1.loc[ind,'majorScore']+=colS
            else:
                df1.loc[ind,'majorScore']+=enn.describe()['evaScore']['mean']
        df1.loc[ind,'majorScore']=(df1.loc[ind,'majorScore'])/(len(c2codel))
        
df1

10755
10246
10759
10248
10247
10251
10255
10269
10270
10271
10276
10280
10284
10285
10286
10287
10288
10291
10294
10295
10304
10307
10319
10327
10335
10336
10337
10338
10357
10358
10359
106111
10384
10385
10386
10389
11415
11417
10403
10422
10486
10487
10488
10491
10504
10511
10512
10001
10002
10003
10004
10006
10007
10008
10009
10010
10011
10013
10532
10533
10022
10027
10028
10542
10030
10033
10036
11065
10043
10559
10560
10561
10054
11078
10593
10610
10613
10112
10626
10635
10126
10651
10140
10141
10657
10151
10183
10184
10697
10698
10701
10710
10200
10213
10216
10730
10224
10225

,id,majorName,year,minScore,categoryID_id,collegeID_id,c1,c2,college_loc,provinceLoc,cityLoc,adcode,cityScore,c2code,majorScore,preRanking
0,0,计算机类,2020,622,2.0,10593,工学,计算机类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02,['0812'],80.000000,0
1,1,数学类,2020,621,2.0,10593,理学,数学类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02,['0701'],76.000000,0
2,2,机械类,2020,621,2.0,10593,工学,机械类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02,['0802'],73.000000,0
3,3,土木工程,2020,620,2.0,10593,工学,土木类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02,['0814'],80.000000,0
4,4,经济学类,2020,620,2.0,10593,经济学,经济学类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02,['0201'],75.798039,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335,5528704,野生动物与自然保护区管理（国家专项）,2020,611,2.0,10225,农学,自然保护与环境生态类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06,['0903'],81.000000,0
3336,5531969,计算机科学与技术(中外合作办学),2020,589,2.0,10225,工学,计算机类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06,['0812'],81.000000,0
3337,5535235,化学(中外合作办学),2020,577,2.0,10225,理学,化学类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06,['0703'],81.000000,0
3338,5538502,生物技术(中外合作办学),2020,575,2.0,10225,理学,生物科学类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06,['0710'],83.000000,0
3339,5541770,工程管理(中外合作办学),2020,547,2.0,10225,管理学,管理科学与工程类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06,['1201'],70.000000,0

In [439]:
cid='10755'
df1[df1['collegeID_id']==10755]

,id,majorName,year,minScore,categoryID_id,collegeID_id,c1,c2,college_loc,provinceLoc,cityLoc,adcode,cityScore,c2code,majorScore,preRanking
2099,2257630,俄语,2020,584,1.0,10755,文学,外国语言文学类,新疆乌鲁木齐市,新疆维吾尔自治区,乌鲁木齐市,650100,44.68,[0502],0,0
2100,2259659,法学,2020,591,1.0,10755,法学,法学类,新疆乌鲁木齐市,新疆维吾尔自治区,乌鲁木齐市,650100,44.68,[0301],0,0
2101,2261689,汉语国际教育,2020,585,1.0,10755,文学,中国语言文学类,新疆乌鲁木齐市,新疆维吾尔自治区,乌鲁木齐市,650100,44.68,[0501],0,0
2102,2263720,汉语言文学,2020,588,1.0,10755,文学,中国语言文学类,新疆乌鲁木齐市,新疆维吾尔自治区,乌鲁木齐市,650100,44.68,[0501],0,0
2103,2265752,行政管理,2020,585,1.0,10755,管理学,公共管理类,新疆乌鲁木齐市,新疆维吾尔自治区,乌鲁木齐市,650100,44.68,[1204],0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2240,2553589,政治学与行政学,2020,586,2.0,10755,法学,政治学类,新疆乌鲁木齐市,新疆维吾尔自治区,乌鲁木齐市,650100,44.68,[0302],0,0
2241,2555759,中国少数民族语言文学（维吾尔语言）,2020,316,2.0,10755,文学,中国语言文学类,新疆乌鲁木齐市,新疆维吾尔自治区,乌鲁木齐市,650100,44.68,[0501],0,0
2242,2557930,资源勘查工程,2020,597,2.0,10755,工学,地质类,新疆乌鲁木齐市,新疆维吾尔自治区,乌鲁木齐市,650100,44.68,[0818],0,0
2243,2560102,自动化,2020,598,2.0,10755,工学,自动化类,新疆乌鲁木齐市,新疆维吾尔自治区,乌鲁木齐市,650100,44.68,[0811],0,0
2244,2562275,自然地理与资源环境,2020,598,2.0,10755,理学,地理科学类,新疆乌鲁木齐市,新疆维吾尔自治区,乌鲁木齐市,650100,44.68,[0705],0,0

In [431]:
list(df1s)

[10755,
 10246,
 10759,
 10248,
 10247,
 10251,
 10255,
 10269,
 10270,
 10271,
 10276,
 10280,
 10284,
 10285,
 10286,
 10287,
 10288,
 10291,
 10294,
 10295,
 10304,
 10307,
 10319,
 10327,
 10335,
 10336,
 10337,
 10338,
 10357,
 10358,
 10359,
 106111,
 10384,
 10385,
 10386,
 10389,
 11415,
 11417,
 10403,
 10422,
 10486,
 10487,
 10488,
 10491,
 10504,
 10511,
 10512,
 10001,
 10002,
 10003,
 10004,
 10006,
 10007,
 10008,
 10009,
 10010,
 10011,
 10013,
 10532,
 10533,
 10022,
 10027,
 10028,
 10542,
 10030,
 10033,
 10036,
 11065,
 10043,
 10559,
 10560,
 10561,
 10054,
 11078,
 10593,
 10610,
 10613,
 10112,
 10626,
 10635,
 10126,
 10651,
 10140,
 10141,
 10657,
 10151,
 10183,
 10184,
 10697,
 10698,
 10701,
 10710,
 10200,
 10213,
 10216,
 10730,
 10224,
 10225]

In [432]:
df1s

{10001,
 10002,
 10003,
 10004,
 10006,
 10007,
 10008,
 10009,
 10010,
 10011,
 10013,
 10022,
 10027,
 10028,
 10030,
 10033,
 10036,
 10043,
 10054,
 10112,
 10126,
 10140,
 10141,
 10151,
 10183,
 10184,
 10200,
 10213,
 10216,
 10224,
 10225,
 10246,
 10247,
 10248,
 10251,
 10255,
 10269,
 10270,
 10271,
 10276,
 10280,
 10284,
 10285,
 10286,
 10287,
 10288,
 10291,
 10294,
 10295,
 10304,
 10307,
 10319,
 10327,
 10335,
 10336,
 10337,
 10338,
 10357,
 10358,
 10359,
 10384,
 10385,
 10386,
 10389,
 10403,
 10422,
 10486,
 10487,
 10488,
 10491,
 10504,
 10511,
 10512,
 10532,
 10533,
 10542,
 10559,
 10560,
 10561,
 10593,
 10610,
 10613,
 10626,
 10635,
 10651,
 10657,
 10697,
 10698,
 10701,
 10710,
 10730,
 10755,
 10759,
 11065,
 11078,
 11415,
 11417,
 106111}

In [433]:
10755 in df1s

True

In [428]:
cid

'10755'

In [416]:
df1[str(df1['collegeID_id'])==cid]

KeyError: False

In [414]:
eva[eva['collegeID_id']==cid].index

Int64Index([  93,  297,  380,  513,  828, 1043, 1218, 1443, 1523, 1662, 1767,
            2020, 2407, 2799, 3119, 3735, 5618, 5619, 5620, 5621, 5622],
           dtype='int64')

In [539]:
#df1['preRanking']=[0]*df1.shape[0]
df1

,id,majorName,year,minScore,categoryID_id,collegeID_id,c1,c2,college_loc,provinceLoc,cityLoc,adcode,cityScore,c2code,majorScore,preRanking
0,0,计算机类,2020,622,2.0,10593,工学,计算机类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02,['0812'],80.000000,0
1,1,数学类,2020,621,2.0,10593,理学,数学类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02,['0701'],76.000000,0
2,2,机械类,2020,621,2.0,10593,工学,机械类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02,['0802'],73.000000,0
3,3,土木工程,2020,620,2.0,10593,工学,土木类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02,['0814'],80.000000,0
4,4,经济学类,2020,620,2.0,10593,经济学,经济学类,广西省南宁市,广西壮族自治区,南宁市,450100,41.02,['0201'],75.798039,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335,5528704,野生动物与自然保护区管理（国家专项）,2020,611,2.0,10225,农学,自然保护与环境生态类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06,['0903'],81.000000,0
3336,5531969,计算机科学与技术(中外合作办学),2020,589,2.0,10225,工学,计算机类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06,['0812'],81.000000,0
3337,5535235,化学(中外合作办学),2020,577,2.0,10225,理学,化学类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06,['0703'],81.000000,0
3338,5538502,生物技术(中外合作办学),2020,575,2.0,10225,理学,生物科学类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06,['0710'],83.000000,0
3339,5541770,工程管理(中外合作办学),2020,547,2.0,10225,管理学,管理科学与工程类,黑龙江省哈尔滨市,黑龙江省,哈尔滨市,230100,45.06,['1201'],70.000000,0

In [540]:
df1.to_csv('df120210728.csv',encoding='gbk')